{% extends "base.html" %}

{% block full_right %}{% endblock %}
{% block login_button %}{% endblock %}
{% block login %}{% endblock %}

{% block meta %}
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0;/account/"/>
{% endif %}
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<h1>¿Olvidó la Clave?</h1>
<p>Para reiniciar la clave de su cuenta de <strong>Dymmer</strong> debe rellenar el siguiente campo con su email:

<form class="form-horizontal" method="post">
	{% csrf_token %}
    <div class="control-group{% if form.email.errors %} error{% endif %}">
        <label class="control-label" for="id_email">{{ form.email.label }}</label>
        <div class="controls">
            {{ form.email }}
            {% for error in form.email.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.captcha.errors %} error{% endif %}">
        <label class="control-label" for="id_captcha">{{ form.captcha.label }}</label>
        <div class="controls">
            {{ form.captcha }}
            {% for error in form.captcha.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
    	<div class="controls">
    		<a href="/" class="btn">Cancelar</a>
			<input class="btn btn-primary" type="submit" value="Enviar"/>
		</div>
	</div>
</form>
{% endif %}
{% endblock %}
