{% extends "base.html" %}

{% block full_right %}{% endblock %}
{% block login_button %}{% endblock %}
{% block login %}{% endblock %}

{% block meta %}
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0;/account/"/>
{% else %}
<meta http-equiv="refresh" content="5;/"/>
{% endif %}
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<h1>¿Olvidó la Clave?</h1>
<p>El email ha sido enviado, revise su carpeta de <em>spam</em> o <em>correo no deseado</em> si no lo encuentra en unos minutos en su carpeta de entrada.</p>
{% endif %}
{% endblock %}
