{% extends "base.html" %}

{% block full_right %}{% endblock %}
{% block login_button %}{% endblock %}
{% block login %}{% endblock %}

{% block meta %}
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0;/account/"/>
{% endif %}
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<h1>Reinicio de Clave</h1>

<form class="form-horizontal" method="post">
	{% csrf_token %}
    <div class="control-group{% if form.new_password1.errors %} error{% endif %}">
        <label class="control-label" for="id_new_password1">Contraseña nueva</label>
        <div class="controls">
            {{ form.new_password1 }}
            {% for error in form.new_password1.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.new_password2.errors %} error{% endif %}">
        <label class="control-label" for="id_new_password2">Confirmación</label>
        <div class="controls">
            {{ form.new_password2 }}
            {% for error in form.new_password2.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
    	<div class="controls">
    		<a href="/" class="btn">Cancelar</a>
			<input class="btn btn-primary" type="submit" value="Cambia Clave"/>
		</div>
	</div>
</form>
{% endif %}
{% endblock %}
