{% extends "base.html" %}

{% block full_right %}{% endblock %}
{% block login_button %}{% endblock %}
{% block login %}{% endblock %}

{% block meta %}
{% if user.is_authenticated %}
<meta http-equiv="refresh" content="0;/account/"/>
{% else %}
<script src="/static/js/passfield.min.js"></script>
<script src="/static/js/registration.js"></script>
<link rel="stylesheet" href="/static/css/passfield.min.css"/>
{% endif %}
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<h1>Registro de Usuario</h1>
<p>Para darse de alta en <strong>DynHost</strong> debe de seguir los siguientes pasos:
<ol>
    <li>Crear un usuario con cuenta de correo v&aacute;lida.</li>
    <li>Confirmar la cuenta a trav&eacute;s de un enlace que se le enviar&aacute; al correo electr&oacute;nico.</li>
</ol>
</p>

<form class="form-horizontal" method="post">
	{% csrf_token %}
    <div class="control-group{% if form.username.errors %} error{% endif %}">
        <label class="control-label" for="id_username">{{ form.username.label }}</label>
        <div class="controls">
            {{ form.username }}
            {% for error in form.username.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.email.errors %} error{% endif %}">
        <label class="control-label" for="id_email">{{ form.email.label }}</label>
        <div class="controls">
            {{ form.email }}
            {% for error in form.email.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.password1.errors %} error{% endif %}">
        <label class="control-label" for="id_password1">{{ form.password1.label }}</label>
        <div class="controls">
            {{ form.password1 }}
            {% for error in form.password1.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.password2.errors %} error{% endif %}">
        <label class="control-label" for="id_password2">{{ form.password2.label }}</label>
        <div class="controls">
            {{ form.password2 }}
            {% for error in form.password2.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.captcha.errors %} error{% endif %}">
        <label class="control-label" for="id_captcha">{{ form.captcha.label }}</label>
        <div class="controls">
            {{ form.captcha }}
            {% for error in form.captcha.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.tos.errors %} error{% endif %}">
        <label class="control-label" for="id_tos">He leído y acepto los <a href="">términos de servicio</a></label>
        <div class="controls">
            {{ form.tos }}
            {% for error in form.tos.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
    	<div class="controls">
    		<a href="/" class="btn">Cancelar</a>
			<input class="btn btn-primary" type="submit" value="Dar de Alta"/>
		</div>
	</div>
</form>
{% endif %}
{% endblock %}
