{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <a href="/dns/{{ dom_id }}/edit/"> {{ dom }}</a>  &raquo; <strong>Listado de Buzones</strong>
</div>

<h1>Listado de Buzones de {{ dom }}</h1>
<table class="table table-condensed">
<thead>
    <th>Buz&oacute;n</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.username }}@{{ servicio.domain }}</td>
        <td align="center">
            <div class="btn-group">
                <a class="btn btn-mini btn-info" title="editar" href="{% url "mail.views.mailboxes.edit" servicio.id %}">
                    <i class="icon-edit"></i>
                </a>
                <a class="btn btn-mini btn-danger" title="eliminar" href="#confirm_{{ servicio.id }}" data-toggle="modal">
                    <i class="icon-remove"></i>
                </a>
            </div>
            <div class="modal hide fade" id="confirm_{{ servicio.id }}">
                <div class="modal-header">Eliminar Buzón</div>
                <div class="modal-body">
                    <div class="alert alert-error">
                        <strong>Importante</strong>: Los emails que se hayan almacenado quedarán durante un mes, por si los requiere, para poder reclamarlos en cualquier momento. Pasado este plazo serán eliminados definitivamente.
                    </div>
                    ¿Está seguro de que desea eliminar este buzón <strong>{{ servicio.username }}@{{ servicio.domain }}</strong>?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                    <a href="{% url "mail.views.mailboxes.delete" servicio.id %}" class="btn btn-danger">Elimina</a>
                </div>
            </div>
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay buzones</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if servicios|length >= total %}
<a class="btn pull-right" type="button" href="#" onclick="alert('Ha superado el máximo, no puede crear más buzones.')"><i class="icon-file"></i> Nuevo Buzón</a>
{% else %}
<a class="btn pull-right btn-primary" href="{% url "mail.views.mailboxes.new" dom_id %}"><i class="icon-file"></i> Nuevo Buzón</a>
{% endif %}

{% endblock %}
