{% extends "base.html" %}

{% block meta %}
    <script type="text/javascript" src="/static/js/redirect.js"></script>
{% endblock %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <a href="{% url "dynamic.views.domains.index" %}">Listado de Dinámicos</a> &raquo; <a href="{% url "mail.views.redirects_dynamic.index" rec_id %}">Redirecciones de email</a> &raquo; <strong>{% if nuevo %} Nuevo {% else %} Editar {% endif %}</strong>
</div>
<br />
<h1>Información de Redirección en {{ dom }}</h1>
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <!-- Si ya existe una redirección de todo, no se vuelve a mostrar -->
    {% if exist_all_redirect == False %} 
    <div class="control-group{% if form.all_domain.errors %} error{% endif %}">
        <label class="control-label" for="id_all_domain">{{ form.all_domain.label }}</label>
        <div class="controls">
            {{ form.all_domain }}
            {% for error in form.all_domain.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="control-group{% if form.username.errors %} error{% endif %}">
        <label class="control-label" for="id_username">{{ form.username.label }}</label>
        <div class="controls">
            {{ form.username }}
            {% for error in form.username.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.destin.errors %} error{% endif %}">
        <label class="control-label" for="id_destin">{{ form.destin.label }}</label>
        <div class="controls">
            {{ form.destin }}
            {% for error in form.destin.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="{% url "mail.views.redirects_dynamic.index" rec_id %}" class="btn">Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Guardar"/>
        </div>
    </div>
</form>

{% endblock %}
