{% extends "base.html" %}

{% block content %}
<div id="info">
    <div class="marco_gris">
        <a href="{% url dns.views.domains.index %}">
            <img width="32px" height="32px" src="/static/images/32/left.png" alt="cancel" title="Volver" />
        </a>
        &nbsp;
        <img src="/static/images/separador.png" />
        &nbsp;
        {% if servicios|length >= total %}
        <a href="#" onclick="alert('Ha superado el máximo, no puede crear más buzones.')">
        {% else %}
        <a href="{% url mail.views.mailboxes.new dom_id %}">
        {% endif %}
            <img src="/static/images/32/add.png" alt="+" title="Agregar" />
        </a>
        &nbsp;
    </div>
</div>
<br />
<h1>Listado de Buzones de {{ dom }}</h1>
<table id="listado">
<thead>
    <th>Buz&oacute;n</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.username }}@{{ servicio.domain }}</td>
        <td align="center">
            <a href="{% url mail.views.mailboxes.edit servicio.id %}">
                <img src="/static/images/32/notepad.png" alt="E" title="Editar" />
            </a>
            &nbsp;
            <a href="{% url mail.views.mailboxes.delete servicio.id %}" onclick="return confirm('¿Está seguro de que desea eliminar este buzón?\n\nLos emails que se hayan almacenado quedarán durante un mes, por si los requiere, para poder reclamarlos en cualquier momento. Pasado este plazo serán eliminados definitivamente.');">
                <img src="/static/images/32/remove.png" alt="S" title="Suprimir" />
            </a>
            &nbsp;
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay buzones</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
