{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <a href="/dns/{{ dom_id }}/edit/"> {{ dom }}</a>  &raquo; <a href="/mailboxes/{{ dom_id }}/">Buzones</a> &raquo; <strong>{% if nuevo %} Nuevo {% else %} Editar {% endif %}</strong>
</div>
<br />
<h1>Información de Buzón en {{ dom }}</h1>
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="control-group{% if form.username.errors %} error{% endif %}">
        <label class="control-label" for="id_username">{{ form.username.label }}</label>
        <div class="controls">
            {{ form.username }}
            {% for error in form.username.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.pwd.errors %} error{% endif %}">
        <label class="control-label" for="id_pwd">{{ form.pwd.label }}</label>
        <div class="controls">
            {{ form.pwd }}
            {% for error in form.pwd.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.pwd_again.errors %} error{% endif %}">
        <label class="control-label" for="id_pwd_again">{{ form.pwd_again.label }}</label>
        <div class="controls">
            {{ form.pwd_again }}
            {% for error in form.pwd_again.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="{% url "mail.views.mailboxes.index" dom_id %}" class="btn">Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Guardar"/>
        </div>
    </div>
</form>
{% endblock %}
