<div class="tab-pane fade{% if nic_focus %} in active{% endif %}" id="info-client">
    <h1>Información de Cliente</h1>

    <div class="row-fluid">
        <div class="offset2 span8">
            <p><strong>IMPORTANTE</strong>: estamos desarrollando aún la nueva interfaz, el servicio para clientes se presta de momento de forma manual (contratación, facturación, ...). Si tiene interés en probar las características profesionales puede ponerse en contacto con nosotros y estaremos encantados de actualizar su suscripción y que pueda emplear las herramientas profesionales disponibles. Gracias.</p>

            <p>Puede escribir a: <strong><a href="mailto:manuel@altenwald.com">manuel@altenwald.com</a></strong></p>

        </div>
    </div>

</div>
