<div class="tab-pane fade" id="info-deregister">
    <div class="alert alert-error">
        <strong>¡¡¡ATENCIÓN!!!</strong>
        <p>Esta acción no puede ser desecha. Si elimina su cuenta se darán de baja automática todos sus servicios.</p>
    </div>
    <p>¿Esta seguro de que <strong>quiere darse de baja</strong> del sistema? Debe escribir su email para proceder a la baja:</p>
    <div>
        <input onkeyup="checkDelete('email','{{ cuenta.user.email }}','deregister_button','{% url "billing.views.deregister" %}')" type="text" id="email" value=""/><br/>
        <a href="#" id="deregister_button" class="btn btn-danger disabled">Dar de Baja</a>
    </div>
</div>
