{% extends "base.html" %}

{% block meta %}
    <script type="text/javascript" src="/static/js/records.js"></script>
{% endblock %}

{% block content %}
<h1>Información de Registro de {{ dom }}</h1>
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="control-group{% if form.type.errors %} error{% endif %}">
        <label class="control-label" for="id_type">{{ form.type.label }}</label>
        <div class="controls">
            {{ form.type }}
            {% for error in form.type.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.ttl.errors %} error{% endif %}">
        <label class="control-label" for="id_ttl">{{ form.ttl.label }}</label>
        <div class="controls">
            {{ form.ttl }}
            {% for error in form.ttl.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div id="mx" class="control-group{% if form.mx_priority.errors %} error{% endif %}">
        <label class="control-label" for="id_mx_priority">{{ form.mx_priority.label }}</label>
        <div class="controls">
            {{ form.mx_priority }}
            {% for error in form.mx_priority.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div id="cname" class="control-group{% if form.host.errors %} error{% endif %}">
        <label class="control-label" for="id_host">{{ form.host.label }}</label>
        <div class="controls">
            {{ form.host }}
            {% for error in form.host.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.data.errors %} error{% endif %}">
        <label class="control-label" for="id_data">{{ form.data.label }}</label>
        <div class="controls">
            {{ form.data }}
            {% for error in form.data.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="{% url dns.views.domains.edit dom_id %}" class="btn">Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Actualiza datos"/>
        </div>
    </div>
</form>
{% endblock %}
