{% extends "base.html" %}

{% block content %}
<div id="info">
    <div class="marco_gris">
        {% if servicios|length >= total %}
        <a href="#" onclick="alert('Ha superado el máximo, no puede crear más dominios.')">
        {% else %}
        <a href="{% url dns.views.domains.new %}">
        {% endif %}
            <img src="/static/images/32/add.png" alt="+" title="Agregar" />
        </a>
        &nbsp;
    </div>
</div>
<br />
<h1>Listado de Dominios</h1>
<table id="listado">
<thead>
    <th>Zona</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.domain }}</td>
        <td align="center">
            {% if servicio.email_type == 'R' %}
            <a href="{% url mail.views.mailboxes.index servicio.id %}">
                <img src="/static/images/32/mail.png" alt="M" title="Mailboxes" />
            </a>
            {% else %}
            <img src="/static/images/blank.jpg" />
            {% endif %}
            &nbsp;
            {% if servicio.email_type %}
            <a href="{% url mail.views.redirects.index servicio.id %}">
                <img src="/static/images/32/redirect.png" alt="M" title="Redirecciones" />
            </a>
            {% else %}
            <img src="/static/images/blank.jpg" />
            {% endif %}
            &nbsp;
            <a href="{% url web.views.hostings.index servicio.id %}">
                <img src="/static/images/32/computer.png" alt="M" title="Hosting" />
            </a>
            &nbsp;
            <a href="{% url web.views.redirects.index servicio.id %}">
                <img src="/static/images/32/redirect_web.png" alt="M" title="Redirecciones" />
            </a>
            &nbsp;
            <a href="{% url dns.views.domains.edit servicio.id %}">
                <img src="/static/images/32/notepad.png" alt="E" title="Editar" />
            </a>
            &nbsp;
            <a href="{% url dns.views.domains.delete servicio.id %}" onclick="return confirm('¿Está seguro de que dese eliminar esta zona DNS?');">
                <img src="/static/images/32/remove.png" alt="S" title="Suprimir" />
            </a>
            &nbsp;
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay zonas DNS</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
