{% extends "base.html" %}

{% block meta %}
<script src="/static/js/domains.js"></script>
{% endblock %}

{% block content %}

<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <a href="/dns/">Listado de Dominios</a> &raquo; <strong>{% if nuevo %} Nuevo Dominio {% else %} Editar Dominio{% endif %}</strong>
</div>

<h1>Información de Dominio</h1>
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="control-group{% if dom_form.domain.errors %} error{% endif %}">
        <label class="control-label" for="id_domain">{{ dom_form.domain.label }}</label>
        <div class="controls">
            {{ dom_form.domain }}
            {% for error in dom_form.domain.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if dom_form.email_type.errors %} error{% endif %}">
        <label class="control-label" for="id_email_type">{{ dom_form.email_type.label }}</label>
        <div class="controls">
            {{ dom_form.email_type }}
            {% for error in dom_form.email_type.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
            <span class="help-block">
                <span id="help-mailboxes">Buzones de correo accesibles mediante IMAP/POP3 y redirecciones a otras cuentas de email.</span>
                <span id="help-redirects">Solo redirecciones a otras cuentas de email.</span>
                <span id="help-manual">Configurar tú mismo los registros MX del servidor.</span>
            </span>
        </div>
    </div>
    <div class="control-group{% if soa_form.ttl.errors %} error{% endif %}">
        <label class="control-label" for="id_ttl">{{ soa_form.ttl.label }}</label>
        <div class="controls">
            {{ soa_form.ttl }}
            {% for error in soa_form.ttl.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if soa_form.email.errors %} error{% endif %}">
        <label class="control-label" for="id_email">{{ soa_form.email.label }}</label>
        <div class="controls">
            {{ soa_form.email }}
            {% for error in soa_form.email.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="{% url "dns.views.domains.index" %}" class="btn">Volver al listado</a>
            <input type="submit" class="btn btn-primary" value="Actualiza datos"/>
        </div>
    </div>
</form>

{% if not nuevo %}
<div class="tab-pane fade in" id="dns-records">
    <h1>Listado de Registros</h1>
    <table class="table table-condensed">
    <thead>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th align="center">acciones</th>
    </thead>
    <tbody>
        {% for registro in registros %}
        <tr>
            <td>{{ registro.host }}</td>
            <td>{{ registro.type }}</td>
            <td>{{ registro.data }}</td>
            <td align="center" nowrap="nowrap">
                <div class="btn-group">
                    <a class="btn btn-mini btn-info" title="editar" href="{% url "dns.views.records.edit" registro.id %}">
                        <i class="icon-edit"></i>
                    </a>
                    <a class="btn btn-mini btn-danger" title="eliminar" href="#confirm_{{ registro.id }}" data-toggle="modal">
                        <i class="icon-remove"></i>
                    </a>
                </div>
                <div class="modal hide fade" id="confirm_{{ registro.id }}">
                    <div class="modal-header">Eliminar registro</div>
                    <div class="modal-body">
                        ¿Está seguro de que dese eliminar el registro <strong>{{ registro.host }}.{{ registro.domain }}</strong>?
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                        <a href="{% url "dns.views.records.delete" registro.id %}" class="btn btn-danger">Elimina</a>
                    </div>
                </div>
            </td>
        <tr>
        {% empty %}
        <tr>
            <td colspan="3" align="center">No hay registros</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

</div>

<a class="btn pull-right btn-primary" href="{% url "dns.views.records.new" dom_id %}"><i class="icon-file"></i> Nuevo Registro</a>

{% endif %}
{% endblock %}
