{% extends "base.html" %}

{% block content %}
<div id="info">
    <div class="marco_gris">
        {% if not nuevo %}
        <a href="{% url dns.views.records.new dom_id %}">
            <img width="32px" height="32px" src="/static/images/32/add.png" alt="add" title="Agregar Registro" />
        </a>
        &nbsp;
        <img src="/static/images/separador.png" />
        &nbsp;
        {% endif %}
        <a href="#" onclick="forms[0].submit();">
            <img width="32px" height="32px" src="/static/images/32/tick.png" alt="ok" title="Aceptar" />
        </a>
        &nbsp;
        <a href="{% url dns.views.domains.index %}">
            <img width="32px" height="32px" src="/static/images/32/error.png" alt="cancel" title="Cancelar" />
        </a>
        &nbsp;
    </div>
</div>
<br />

<h1>Información de Dominio</h1>
<form method="post">
    {% csrf_token %}
    <table id="formulario">
        <tbody>
            {{ dom_form.as_table }}
            {{ soa_form.as_table }}
        </tbody>
    </table>
</form>

<br />

{% if not nuevo %}
<table id="listado">
<thead>
	<th>Nombre</th>
    <th>Tipo</th>
    <th>Valor</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for registro in registros %}
    <tr>
		<td>{{ registro.host }}</td>
        <td>{{ registro.type }}</td>
        <td>{{ registro.data }}</td>
        <td align="center" nowrap="nowrap">
            <a href="{% url dns.views.records.edit registro.id %}">
                <img src="/static/images/32/notepad.png" alt="E" title="Editar" />
            </a>
            &nbsp;
            <a href="{% url dns.views.records.delete registro.id %}" onclick="return confirm('¿Está seguro de que dese eliminar este registro?');">
                <img src="/static/images/32/remove.png" alt="S" title="Suprimir" />
            </a>
            &nbsp;
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay registros</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}
