{% extends "base.html" %}

{% block meta %}
<script src="/static/js/check_delete.js"></script>
<script src="/static/js/domains.js"></script>
{% endblock %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Listado de Dominios</strong>
</div>

<h1>Listado de Dominios</h1>
<table class="table table-condensed">
<thead>
    <th>Zona / Dominio</th>
    <th>Tipo</th>
    <th>Estado</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.domain }}</td>
        <td align="center">
            {% if servicio.expires %}
                Dominio
            {% else %}
                Zona
            {% endif %}
        </td>
        <td>
            {% if servicio.status == 'B' %}
                Bloqueado
            {% elif servicio.status == 'N' or servicio.status == 'T' %}
                Pago Pendiente
            {% else %}
                Activo
            {% endif %}
        </td>
        <td align="center" width="315px">
            <div class="btn-group">
                {% if servicio.email_type == 'R' %}
                <a class="btn btn-small" title="buzones de email" href="{% url "mail.views.mailboxes.index" servicio.id %}">
                    <img src="/static/img/32/mail.png"/>
                </a>
                {% else %}
                <button class="btn btn-small btn-inverse disabled" title="buzones de email">
                    <img src="/static/img/32/mail.png"/>
                </button>
                {% endif %}
                {% if servicio.email_type %}
                <a class="btn btn-small" title="redirección de email" href="{% url "mail.views.redirects.index" servicio.id %}">
                    <img src="/static/img/32/redirect.png"/>
                </a>
                {% else %}
                <button class="btn btn-small btn-inverse disabled" title="redirección de email">
                    <img src="/static/img/32/redirect.png"/>
                </button>
                {% endif %}
                <a class="btn btn-small" title="hosting web" href="{% url "web.views.hostings.index" servicio.id %}">
                    <img src="/static/img/32/computer.png"/>
                </a>
                <a class="btn btn-small" title="redirección web" href="{% url "web.views.redirects.index" servicio.id %}">
                    <img src="/static/img/32/redirect_web.png"/>
                </a>
                <a class="btn btn-small btn-default" title="editar" href="{% url "dns.views.domains.edit" servicio.id %}">
                    <img src="/static/img/32/notepad.png"/>
                </a>
                <a class="btn btn-small btn-default" title="eliminar" href="#confirm_{{ servicio.id }}" data-toggle="modal">
                    <img src="/static/img/32/remove.png"/>
                </a>
            </div>
            <div class="modal hide fade" id="confirm_{{ servicio.id }}">
                <div class="modal-header">Eliminar {% if servicios.expires %}dominio{% else %}zona{% endif %}</div>
                <div class="modal-body">
                    {% if servicio.expires %}
                    <strong>¡¡¡ ATENCIÓN !!!</strong><br/>
                    <br/>
                    La eliminación de la zona implica la eliminación del dominio <strong>{{servicio.domain}}</strong>. Esta acción notifica al registrador de dominio y perderá posibilidad de deshacer esta acción.<br/>
                    <br/>
                    Por seguridad, escriba aquí el nombre del dominio para poder eliminarlo:<br/>
                    <br/>
                    <input onkeyup="checkDelete('reconfirm_{{servicio.id}}','{{servicio.domain}}','elimina_{{servicio.id}}','{% url "dns.views.domains.delete" servicio.id %}')" type="text" id="reconfirm_{{servicio.id}}" value=""/><br/>
                    <br/>
                    {% endif %}
                    ¿Está seguro de que dese eliminar el dominio <strong>{{servicio.domain}}</strong>?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                    <a id="elimina_{{servicio.id}}" class="btn btn-danger{% if servicio.expires %} disabled{% endif %}">Elimina</a>
                </div>
            </div>
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay zonas DNS</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if disponibles == 0 %}
<div id="noNewDomains" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="noNewDomainsLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="noNewDomainsLabel">No hay más dominios</h3>
    </div>
    <div class="modal-body">
        <p>Se han acabado los dominios disponibles, pero puede adquirir nuevos, solo tiene que ampliar su número de dominios.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        <a class="btn btn-primary" href="{% url "billing.views.index" %}">Comprar</a>
    </div>
</div>
<div class="btn-group pull-right">
    <button class="btn btn-default disabled">
        <span class="badge badge-inverse">{{ disponibles }}</span> x <img src="/static/img/32/earth.png"/>
    </button>
    <a class="btn btn-default disabled" role="button" data-toggle="modal" href="#noNewDomains">
        <img src="/static/img/32/new.png" title="Nuevo Dominio / Zona" />
    </a>
</div>
{% else %}
<div id="selectNewDomains" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="selectNewDomainsLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="noNewDomainsLabel">Tipo de Dominio</h3>
    </div>
    <div class="modal-body">
        <p>Tiene tres opciones para crear su dominio:</p>
        <ol>
            <li><strong>Comprar Dominio</strong>: comprar el dominio y gestionar su zona DNS.</li>
            <li><strong>Transferir Dominio</strong>: transferir desde otro registrar el dominio y gestionar su zona DNS.</li>
            <li><strong>Zona DNS</strong>: crea solo una zona para albergar los registros de su dominio.</li>
        </ol>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        <a class="btn btn-success" href="{% url "billing.views.purchase" %}">Comprar</a>
        <a class="btn btn-success" href="{% url "billing.views.transfer" %}">Transferir</a>
        <a class="btn btn-primary" href="{% url "dns.views.domains.new" %}">Zona DNS</a>
    </div>
</div>
<div class="btn-group pull-right">
    <button class="btn btn-default disabled">
        <span class="badge badge-inverse">{{ disponibles }}</span> x <img src="/static/img/32/earth.png"/>
    </button>
    <a class="btn btn-default" role="button" data-toggle="modal" href="#selectNewDomains">
        <img src="/static/img/32/new.png" title="Nuevo Dominio / Zona" />
    </a>
</div>
{% endif %}
{% endblock %}
