{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Usuarios de Base de Datos</strong>
</div>
<h1>Usuarios de Base de Datos</h1>
<table class="table table-condensed">
<thead>
    <th>Usuario</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.username }}</td>
        <td width="103px">
            <div class="btn-group">
                <a class="btn btn-small" title="editar" href="{% url "database.views.users.edit" servicio.id %}">
                    <img src="/static/img/32/notepad.png"/>
                </a>
                <a class="btn btn-small" title="eliminar" href="#confirm_{{ servicio.id }}" data-toggle="modal">
                    <img src="/static/img/32/remove.png"/>
                </a>
            </div>
            <div class="modal hide fade" id="confirm_{{ servicio.id }}">
                <div class="modal-header">Eliminar Usuario de Base de Datos</div>
                <div class="modal-body">
                    ¿Está seguro de que desea eliminar este usuario <strong>{{servicio.users}}</strong>?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                    <a href="{% url "database.views.users.delete" servicio.id %}" class="btn btn-danger">Elimina</a>
                </div>
            </div>
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay usuarios de Base de datos</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if servicios|length >= total %}
<div class="btn-group pull-right">
    <button class="btn btn-default disabled">
        <span class="badge badge-inverse">{{ disponibles }}</span> x <img src="/static/img/32/db_users.png"/>
    </button>
    <a class="btn btn-default" href="/">
        <img src="/static/img/32/money.png" title="Comprar" />
    </a>
</div>
{% else %}
<div class="btn-group pull-right">
    <button class="btn btn-default disabled">
        <span class="badge badge-inverse">{{ disponibles }}</span> x <img src="/static/img/32/db_users.png"/>
    </button>
    <a class="btn btn-default" href="#new_user" data-toggle="modal">
        <img src="/static/img/32/new.png" title="Nuevo Usuario de Base de Datos" />
    </a>
</div>
<form class="form-horizontal" method="post" action="{% url "database.views.users.new" %}">
    <div class="modal hide fade" id="new_user">
        <div class="modal-header">Nuevo Usuario de Base de Datos</div>
        <div class="modal-body">
                {% csrf_token %}
                <div class="control-group{% if form.username.errors %} error{% endif %}">
                    <label class="control-label">{{ form.username.label }}</label>
                    <div class="controls">
                        {{ form.username }}
                        {% for error in form.username.errors %}
                        <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <label class="control-label">{{ form.password.label }}</label>
                    <div class="controls">
                        {{ form.password }}
                        {% for error in form.password.errors %}
                        <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                    </div>

                </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancela</a>
            <button type="submit" class="btn btn-primary">Crear</a>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
