{% extends "base.html" %}

{% block content %}
<div id="info">
    <div class="marco_gris">
        {% if servicios|length >= total %}
        <a href="#" onclick="alert('Ha superado el máximo, no puede crear más usuarios.')">
        {% else %}
        <a href="{% url database.views.users.new %}">
        {% endif %}
            <img src="/static/images/32/add.png" alt="+" title="Agregar" />
        </a>
        &nbsp;
    </div>
</div>
<br />
<h1>Usuarios de Base de Datos</h1>
<table id="listado">
<thead>
    <th>Usuario</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.username }}</td>
        <td align="center">
            <a href="{% url database.views.users.edit servicio.id %}">
                <img src="/static/images/32/notepad.png" alt="W" title="Mostrar" />
            </a>
            &nbsp;
            <a href="{% url database.views.users.delete servicio.id %}" onclick="return confirm('¿Está seguro de que desea eliminar este usuario?');">
                <img src="/static/images/32/remove.png" alt="S" title="Suprimir" />
            </a>
            &nbsp;
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay usuarios de bases de datos</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
