{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs"  class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <a href="{% url "database.views.databases.show" database.id %}"> Editar Base de Datos</a> &raquo; <a href="{% url "database.views.users.edit" user_database.id %}">Editar Usuario</a> &raquo; <strong>Consulta SQL</strong>
</div>

<h1>Consulta a Base de Datos {{ database.database }}</h1>
<form name="main" class="form-horizontal" method="post">
    {% csrf_token %}
    
    <div class="control-group">
        <label class="control-label" for="id_query">Query</label>
        <div class="controls">
            <textarea name="query" cols="120" rows="7">{{ query }}</textarea>
        </div>
        <br />
        <div class="control-group">
            <div class="controls">
                <a href="{% url "database.views.databases.index" %}" class="btn">Volver</a>
                <input class="btn btn-primary" type="submit" value="Aceptar"/>
            </div>
        </div>
        <br />
        {% if result %}
        <table class="table table-condensed">
            <tr>
                {% for head in heads %}
                <th>{{ head }}</th>
                {% endfor %}
            </tr>
            {% for res in result %}
            <tr>
                {% for r in res %}
                <td>{{ r }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</form>
{% endblock %}
