{% extends "base.html" %}
{% block breadcrumb %}{{ block.super }} &raquo; {{ object.title|title }}{% endblock %}

{% block content %}

{% if not show %}
<h1>Información de Base de Datos</h1>
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="control-group{% if form.database.errors %} error{% endif %}">
        <label class="control-label" for="id_database">{{ form.database.label }}</label>
        <div class="controls">
            {{ form.database }}
            {% for error in form.database.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="{% url "database.views.databases.index" %}" class="btn">Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Guardar"/>
        </div>
    </div>
</form>

{% else %}
<div id="breadcrumbs">
        <a href="/">Inicio</a> &raquo; <a href="/database/">Base de Datos</a> &raquo; Editar
</div>

<h1>Información de Base de Datos</h1>
<table class="table table-condensed">
<thead>
    <th>Nombre</th>
</thead>
<tbody>
    <tr>
        <td>{{ database.database }}</td>
    </tr>
</tbody>
</table>

<h1>Usuarios con Permisos a <strong>{{ database.database }}</strong></h1>
<table class="table table-condensed">
<thead>
    <th>Nombre</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for link in links %}
    <tr>
        <td>{{ link.user.username }}</td>
        <td align="center">
            <div class="btn-group">
                <a class="btn btn-mini" title="SQL Shell" href="{% url "database.views.databases.execute" link.id %}">
                    <i class="icon-play"></i>
                </a>
                <a class="btn btn-mini btn-info" title="editar" href="{% url "database.views.users.edit" link.user.id %}">
                    <i class="icon-edit"></i>
                </a>
                <a class="btn btn-mini btn-danger" title="revocar permiso" href="#confirm_{{ link.id }}" data-toggle="modal">
                    <i class="icon-remove"></i>
                </a>
            </div>
            <div class="modal hide fade" id="confirm_{{ link.id }}">
                <div class="modal-header">Eliminar registro</div>
                <div class="modal-body">
                    <div class="alert alert-warning">
                        <strong>Aviso</strong>: esto no borrará el usuario, solo lo desligará de la base de datos.
                    </div>

                    ¿Está seguro de que dese revocar los permisos de la base de datos <strong>{{ link.database.database }}</strong> al usuario <strong>{{ link.user.username }}</strong>?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                    <a href="{% url "database.views.databases.unlink" link.id %}" class="btn btn-danger">Revoca permisos</a>
                </div>
            </div>
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay usuarios permitidos</td>
    </tr>
    {% endfor %}
</tbody>
</table>
<form name="addUser" method="post" action="{% url "database.views.databases.link" db_id %}">
{% csrf_token %}

<div class="control-group">
    Agregar usuarios: {{ users.user }} 
    <a class="btn btn-mini btn-primary" href="#" onclick="document.addUser.submit();"><i class="icon-plus icon-white"></i></a>
</div>
</form>

{% endif %}
{% endblock %}
