{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Base de Datos</strong>
</div>
<h1>Bases de Datos</h1>
<table class="table table-condensed">
<thead>
    <th>Base de Datos</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.database }}</td>
        <td align="center" width="103px">
            <div class="btn-group">
                <a class="btn btn-small" title="editar" href="{% url "database.views.databases.show" servicio.id %}">
                    <img src="/static/img/32/notepad.png"/>
                </a>
                <a class="btn btn-small" title="eliminar" href="#confirm_{{ servicio.id }}" data-toggle="modal">
                    <img src="/static/img/32/remove.png"/>
                </a>
            </div>
            <div class="modal hide fade" id="confirm_{{ servicio.id }}">
                <div class="modal-header">Eliminar Base de Datos</div>
                <div class="modal-body">
                    <div class="alert alert-error">
                        <strong>Importante</strong>: La base de datos se eliminará junto con todas las tablas y datos que almacene y no podrá ser recuperada a posteriori.
                    </div>
                    ¿Está seguro de que desea eliminar esta base de datos <strong>{{servicio.database}}</strong>?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                    <a href="{% url "database.views.databases.delete" servicio.id %}" class="btn btn-danger">Elimina</a>
                </div>
            </div>
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay bases de datos</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if servicios|length >= total %}
<div class="btn-group pull-right">
    <button class="btn btn-default disabled">
        <span class="badge badge-inverse">{{ disponibles }}</span> x <img src="/static/img/32/datebase.png"/>
    </button>
    <a class="btn btn-default" href="/">
        <img src="/static/img/32/money.png" title="Comprar" />
    </a>
</div>
{% else %}
<div class="btn-group pull-right">
    <button class="btn btn-default disabled">
        <span class="badge badge-inverse">{{ disponibles }}</span> x <img src="/static/img/32/datebase.png"/>
    </button>
    <a class="btn btn-default" href="#new_database" data-toggle="modal">
        <img src="/static/img/32/new.png" title="Nueva Base de Datos" />
    </a>
</div>
<form class="form-horizontal" method="post" action="{% url "database.views.databases.new" %}">
    <div class="modal hide fade" id="new_database">
        <div class="modal-header">Nueva Base de Datos</div>
        <div class="modal-body">
                {% csrf_token %}
                <div class="control-group{% if form.database.errors %} error{% endif %}">
                    <label class="control-label" for="id_database">{{ form.database.label }}</label>
                    <div class="controls">
                        {{ form.database }}
                        {% for error in form.database.errors %}
                        <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancela</a>
            <button type="submit" class="btn btn-primary">Crear</a>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
