@font-face {
    font-family: 'Chocolate Covered Raindrops';
    src: url('../fonts/chocolate_covered_raindrops-webfont.eot');
    src: url('../fonts/chocolate_covered_raindrops-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chocolate_covered_raindrops-webfont.woff') format('woff'),
         url('../fonts/chocolate_covered_raindrops-webfont.ttf') format('truetype'),
         url('../fonts/chocolate_covered_raindrops-webfont.svg#chocolate_covered_raindropsMd') format('svg');
    font-weight: normal;
    font-style: normal;

}

label {
    font-size: 14px;
}

.footer {
    text-align: right;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    margin-left: -25px;
    margin-right: -25px;
}

.modal-header {
    font-family: "Chocolate Covered Raindrops";
    font-size: 24px;
}

.btn {
    font-family: serif;
    font-weight: bold;
    font-size: 12px;
}

.close {
    font-family: monospace;
}

#logo {
    float: left;
}

.btn-group > .btn-small {
    font-family: serif;
    font-size: 14px;
}

@media (max-width: 980px) {
    #borrador {
        float:left;
        position:absolute;
        left:200px;
        top: 15px;
        width: 50px;
    }
    body {
        padding-top: 0px;
    }
    .banner {
        border: 2px dotted #808080;
        text-align: justify;
        padding: 10px 20px;
        margin-bottom: 5px;
        height: 145px;
    }
}
@media (min-width: 980px) {
    #borrador {
        float:left;
        position:absolute;
        left:200px;
        top: 0px;
        width: 50px;
    }
    body {
        padding-top: 40px;
    }
    .banner {
        border: 2px dotted #808080;
        text-align: justify;
        padding: 10px 20px;
        margin-bottom: 5px;
        height: 125px;
    }
}

body {
	margin: 0px 25px;
	font-size: 14px;
	font-family: serif;
	text-align: justify;
}
body a {
	text-decoration: none;
	color: #888888;
}

hr {
	height: 3px;
	border: 1px solid black;
	background-color: black;
}

h1 {
    font-family: "Chocolate Covered Raindrops";
    font-size: 28px;
    margin-top: 0px;
}
h2 {
    font-family: "Chocolate Covered Raindrops";
    font-size: 24px;
    margin-top: 0px;
}
h3 {
    font-size: 20px;
}

tt {
    font-size: 12px;
}

#firma {
	text-align: right;
    font-family: "Chocolate Covered Raindrops";
	font-size: 22px;
}

#mensaje {
    border: 1px solid black;
    float: right;
    clear: both;
    font-size: 22px;
    color: #8080f0;
}

.clr {
	clear: both;
}

.data {
    margin: 0px;
    text-align: right;
    color: #505050;
    font-weight: bolder;
    float: right;
}

#listado {
    margin: 5px;
    border: 1px solid black;
    width: 500px;
}
#listado th {
    background-color: #f0f0f0;
    padding: 5px;
}

ul.errorlist {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #cc0000;
    text-align:left;
}

#formulario,
#formulario-ancho {
    margin: 5px;
    border: 1px solid black;
    width: 500px;
}
#formulario th,
#formulario-ancho th {
    background-color: #f0f0f0;
    padding: 5px;
}
.bloque {
    width: 200px;
    border: 2px dotted #808080;
    float: left;
    margin: 5px;
    text-align: center;
}
#selected {
    border: 2px solid #8080ff;
}
.plan {
    margin: 5px;
    border: 1px solid black;
    width: 190px;
    font-size: 20px;
}
.plan th {
    background-color: #f0f0f0;
    padding: 5px;
    width: 95px;
}
#footnote {
    clear:both;
    font-size: 20px;
}
p.titulo {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
}
.banner img {
    display: inline-block;
}
.banner h2 {
    display: inline-block;
}
#formulario-ancho {
	width: 600px;
}
