{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <a href="{% url "dynamic.views.domains.index" %}">Listado de DynHost</a> &raquo; <strong>Redirecciones Web: <em>{{ dom }}</em></strong>
</div>
<h1>Listado de Redirecciones Web en {{ dom }}</h1>
<table class="table table-condensed">
<thead>
    <th>Redirección web</th>
    <th>URI</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.name }}</td>
        <td>{{ servicio.uri }}</td>
        <td align="center">
            <div class="btn-group">
                <a class="btn btn-mini btn-info" title="editar" href="{% url "web.views.redirects_dynamic.edit" servicio.id %}">
                    <i class="icon-edit"></i>
                </a>
                <a class="btn btn-mini btn-danger" title="eliminar" href="#confirm_{{ servicio.id }}" data-toggle="modal">
                    <i class="icon-remove"></i>
                </a>
            </div>
            <div class="modal hide fade" id="confirm_{{ servicio.id }}">
                <div class="modal-header">Eliminar Redirección Web</div>
                <div class="modal-body">
                    ¿Está seguro de que desea eliminar esta redirección web <strong>{{ servicio.name }}</strong>?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                    <a href="{% url "web.views.redirects_dynamic.delete" servicio.id %}" class="btn btn-danger">Elimina</a>
                </div>
            </div>
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay redirecciones web</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if servicios|length >= total %}
<a class="btn pull-right" type="button" href="#" onclick="alert('Ha superado el máximo, no puede crear más redirecciones web.')"><i class="icon-file"></i> Nueva Redirección</a>
{% else %}
<a class="btn pull-right btn-primary" href="{% url "web.views.redirects_dynamic.new" rec_id %}"><i class="icon-file"></i>Nueva Redirección</a>
{% endif %}

{% endblock %}
