{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
        <a href="/">Inicio</a>  &raquo; <a href="{% url "dynamic.views.domains.index" %}">Listado de Dinámicos</a> &raquo; <a href="{% url "web.views.redirects_dynamic.index" rec_id %}">Redirecciones Web</a> &raquo; <strong>{% if nuevo %} Nuevo {% else %} Editar {% endif %}</strong>
</div>
<h1>Información de Redirecciones Web en {{ dom }}</h1>
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="control-group{% if form.name.errors %} error{% endif %}">
        <label class="control-label" for="id_name">{{ form.name.label }}</label>
        <div class="controls">
            {{ form.name }}
            {% for error in form.name.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.url.errors %} error{% endif %}">
        <label class="control-label" for="id_url">{{ form.url.label }}</label>
        <div class="controls">
            {{ form.url }}
            {% for error in form.url.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.uri.errors %} error{% endif %}">
        <label class="control-label" for="id_uri">{{ form.uri.label }}</label>
        <div class="controls">
            {{ form.uri }}
            {% for error in form.uri.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="{% url "web.views.redirects_dynamic.index" rec_id %}" class="btn">Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Guardar"/>
        </div>
    </div>
</form>
{% endblock %}
