{% extends "base.html" %}

{% block meta %}
<script src="/static/js/jquery.jstree.js"></script>
<script src="/static/js/ftp.js"></script>
{% endblock %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <a href="/ftp/">Listado de Accesos FTP</a> &raquo; <strong>{% if nuevo %} Nuevo {% else %} Editar {% endif %}</strong>
</div>
<h1>Información de Acceso FTP</h1>
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="control-group{% if form.userid.errors %} error{% endif %}">
        <label class="control-label" for="id_userid">{{ form.userid.label }}</label>
        <div class="controls">
            {{ form.userid }}
            {% for error in form.userid.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.homedir.errors %} error{% endif %}">
        <label class="control-label" for="id_homedir">{{ form.homedir.label }}</label>
        <div class="controls">
            {{ form.homedir }}
            <div id="container">
                {% include "ftp_dirs.html" %}
            </div>
            {% for error in form.homedir.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.pwd.errors %} error{% endif %}">
        <label class="control-label" for="id_pwd">{{ form.pwd.label }}</label>
        <div class="controls">
            {{ form.pwd }}
            {% for error in form.pwd.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.pwd_again.errors %} error{% endif %}">
        <label class="control-label" for="id_pwd_again">{{ form.pwd_again.label }}</label>
        <div class="controls">
            {{ form.pwd_again }}
            {% for error in form.pwd_again.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="{% url "ftp.views.index" %}" class="btn">Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Guardar"/>
        </div>
    </div>
</form>
{% endblock %}
