{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Listado de Accesos FTP</strong>
</div>
<h1>Listado de Accesos FTP</h1>
<table class="table table-condensed">
<thead>
    <th>Buz&oacute;n</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.userid }}</td>
        <td width="103px">
            <div class="btn-group">
                <a class="btn btn-small" title="editar" href="{% url "ftp.views.edit" servicio.id %}">
                    <img src="/static/img/32/notepad.png"/>
                </a>
                <a class="btn btn-small" title="eliminar" href="#confirm_{{ servicio.id }}" data-toggle="modal">
                    <img src="/static/img/32/remove.png"/>
                </a>
            </div>
            <div class="modal hide fade" id="confirm_{{ servicio.id }}">
                <div class="modal-header">Eliminar registro</div>
                <div class="modal-body">
                    ¿Está seguro de que dese eliminar el usuario de FTP <strong>{{servicio.userid}}</strong>?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                    <a href="{% url "ftp.views.delete" servicio.id %}" class="btn btn-danger">Elimina</a>
                </div>
            </div>
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay accesos FTP</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if servicios|length >= total %}
<div class="btn-group pull-right">
    <a class="btn btn-success" href="/">
        <span class="badge badge-inverse">{{ disponibles }}</span> x <img src="/static/img/32/download.png"/>&nbsp;
        <img src="/static/img/32/money.png" title="Comprar" />
    </a>
</div>
{% else %}
<div class="btn-group pull-right">
    <a class="btn btn-info" href="{% url "ftp.views.new" %}">
        <span class="badge badge-inverse">{{ disponibles }}</span> x <img src="/static/img/32/download.png"/>&nbsp;
        <img src="/static/img/32/new.png" title="Nuevo Acceso FTP" />
    </a>
</div>
{% endif %}
{% endblock %}
