{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Listado de Accesos FTP</strong>
</div>
<h1>Listado de Accesos FTP</h1>
<table class="table table-condensed">
<thead>
    <th>Buz&oacute;n</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.userid }}</td>
        <td>
            <div class="btn-group">
                <a class="btn btn-mini btn-info" title="editar" href="{% url "ftp.views.edit" servicio.id %}">
                    <i class="icon-edit"></i>
                </a>
                <a class="btn btn-mini btn-danger" title="eliminar" href="#confirm_{{ servicio.id }}" data-toggle="modal">
                    <i class="icon-remove"></i>
                </a>
            </div>
            <div class="modal hide fade" id="confirm_{{ servicio.id }}">
                <div class="modal-header">Eliminar registro</div>
                <div class="modal-body">
                    ¿Está seguro de que dese eliminar el usuario de FTP <strong>{{servicio.userid}}</strong>?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                    <a href="{% url "ftp.views.delete" servicio.id %}" class="btn btn-danger">Elimina</a>
                </div>
            </div>
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay accesos FTP</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if servicios|length >= total %}
<a class="btn pull-right" type="button" href="#" onclick="alert('Ha superado el máximo, no puede crear más usuarios FTP.')"><i class="icon-file"></i> Nuevo Usuario</a>
{% else %}
<a class="btn pull-right btn-primary" href="{% url "ftp.views.new" %}"><i class="icon-file"></i> Nuevo Usuario</a>
{% endif %}
{% endblock %}
