{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <a href="{% url "dynamic.views.domains.index" %}">Listado de DynHost</a> &raquo; <strong>{% if nuevo %} Nuevo {% else %} Editar {% endif %}</strong>
</div>
<h1>Información de registro</h1>
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="control-group{% if form.domain.errors %} error{% endif %}">
        <label class="control-label" for="id_domain">{{ form.domain.label }}</label>
        <div class="controls">
            {{ form.domain }}
            {% for error in form.domain.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group{% if form.ip.errors %} error{% endif %}">
        <label class="control-label" for="id_ip">{{ form.ip.label }}</label>
        <div class="controls">
            {{ form.ip }}
            {% for error in form.ip.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="button" onclick="$('#{{ form.ip.html_name }}').get(0).value = '{{ myip }}'" class="btn btn-info" value="Mi IP"/>
            <a href="{% url "dynamic.views.domains.index" %}" class="btn">Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Guardar"/>
        </div>
    </div>
</form>
{% endblock %}
