{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Listado de DynHost</strong>
</div>
<h1>Listado de DynHost</h1>
<table class="table table-condensed">
<thead>
    <th>dynhost</th>
    <th>IP</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.domain }}.dynhost.es</td>
        <td>{{ servicio.ip }}</td>
        <td align="center">
            <div class="btn-group">
                <a class="btn btn-mini" title="redirección de email" href="{% url "mail.views.redirects_dynamic.index" servicio.record.id %}">
                    <i class="icon-envelope"></i>
                </a>
                <a class="btn btn-mini" title="redirección web" href="{% url "web.views.redirects_dynamic.index" servicio.record.id %}">
                    <i class="icon-share"></i>
                </a>
                <a class="btn btn-mini btn-info" title="editar" href="{% url "dynamic.views.domains.edit" servicio.id %}">
                    <i class="icon-edit"></i>
                </a>
                <a class="btn btn-mini btn-danger" title="eliminar" href="#confirm_{{ servicio.id }}" data-toggle="modal">
                    <i class="icon-remove"></i>
                </a>
            </div>
            <div class="modal hide fade" id="confirm_{{ servicio.id }}">
                <div class="modal-header">Eliminar registro</div>
                <div class="modal-body">
                    ¿Está seguro de que dese eliminar el dominio <strong>{{servicio.domain}}</strong>?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                    <a href="{% url "dynamic.views.domains.delete" servicio.id %}" class="btn btn-danger">Elimina</a>
                </div>
            </div>
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay registros</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if servicios|length >= total %}
<a class="btn pull-right" type="button" href="#" onclick="alert('Ha superado el máximo, no puede crear más dynhost.')"><i class="icon-file"></i> Nuevo DynHOST</a>
{% else %}
<a class="btn pull-right btn-primary" href="{% url "dynamic.views.domains.new" %}"><i class="icon-file"></i> Nuevo DynHOST</a>
{% endif %}
{% endblock %}
