{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Listado de DynHost</strong>
</div>
<h1>Listado de DynHost</h1>
<table class="table table-condensed">
<thead>
    <th>dynhost</th>
    <th>IP</th>
    <th align="center">acciones</th>
</thead>
<tbody>
    {% for servicio in servicios %}
    <tr>
        <td>{{ servicio.domain }}.dynhost.es</td>
        <td>{{ servicio.ip }}</td>
        <td align="center" width="210px">
            <div class="btn-group">
                <a class="btn btn-small" title="redirección de email" href="{% url "mail.views.redirects_dynamic.index" servicio.record.id %}">
                    <img src="/static/img/32/redirect.png"/>
                </a>
                <a class="btn btn-small" title="redirección web" href="{% url "web.views.redirects_dynamic.index" servicio.record.id %}">
                    <img src="/static/img/32/redirect_web.png"/>
                </a>
                <a class="btn btn-small" title="editar" href="{% url "dynamic.views.domains.edit" servicio.id %}">
                    <img src="/static/img/32/notepad.png"/>
                </a>
                <a class="btn btn-small" title="eliminar" href="#confirm_{{ servicio.id }}" data-toggle="modal">
                    <img src="/static/img/32/remove.png"/>
                </a>
            </div>
            <div class="modal hide fade" id="confirm_{{ servicio.id }}">
                <div class="modal-header">Eliminar registro</div>
                <div class="modal-body">
                    ¿Está seguro de que dese eliminar el dominio <strong>{{servicio.domain}}</strong>?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                    <a href="{% url "dynamic.views.domains.delete" servicio.id %}" class="btn btn-danger">Elimina</a>
                </div>
            </div>
        </td>
    <tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No hay registros</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if servicios|length >= total %}
<div class="btn-group pull-right">
    <a class="btn btn-success" href="/">
        <span class="badge badge-inverse">{{ disponibles }}</span> x <img src="/static/img/32/earth.png"/>&nbsp;
        <img src="/static/img/32/money.png" title="Comprar" />
    </a>
</div>
{% else %}
<div class="btn-group pull-right">    
    <a class="btn btn-info" href="{% url "dynamic.views.domains.new" %}">
        <span class="badge badge-inverse">{{ disponibles }}</span> x <img src="/static/img/32/earth.png"/>&nbsp;
        <img src="/static/img/32/new.png" title="Nuevo Dynamic" />
    </a>
</div>
{% endif %}
{% endblock %}
