{% extends "base.html" %}

{% block full_right %}{% endblock %}
{% block login_button %}{% endblock %}
{% block login %}{% endblock %}

{% block content %}
<center>
<img src="/static/img/donde_vas.png" alt="Donde vas?" />
</center>
<br />
<br />
<p>Has entrado en una p&aacute;gina no v&aacute;lida, si el problema ha surgido por un enlace de la propia aplicaci&oacute;n, <a href="mailto:info@dynhost.es">haz clic aqu&iacute;</a> para enviar un mensaje al administrador.</p>

<p>Vuelve a la <a href="/">p&aacute;gina principal</a>.</p>
{% endblock %}
