{% extends "base.html" %}

{% block full_right %}{% endblock %}
{% block login_button %}{% endblock %}
{% block login %}{% endblock %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Acerca de ...</strong>
</div>

<p>En 2011 surgió la idea de realizar un portal en el que poder configurar dominios dinámicos y gratuitos. Las compañías que se dedicaban a esto comenzaban a cerrar sus servicios de siempre o convertirlos en servicios de pago y quería poder seguir empleando un nombre de dominio para poder acceder al ordenador de casa al igual que algunos de mis compañeros.</p>

<p>Cuando el servicio estuvo terminado, había nacido <a href="http://altenwald.org/2011/11/26/dynhost-nombres-dns-para-todos/">DynHost</a>. Pronto comenzamos a ver que la gestión de dominios era sencilla y el hecho de gestionar un servidor DNS podía dar algo más de juego por lo que se fue gestando la idea de dar servicios profesionales y poco a poco surgió lo que ahora tiene delante: <strong>Dymmer</strong>.</p>

<p>El nombre de Dymmer es una mezcla de Zimmer (<em>casero</em> o <em>anfitrión</em>, <em>host</em> en alemán) y DynHost.</p>

<p><strong>Dymmer</strong> nace en el seno de <a href="http://altenwald.com">Altenwald</a> aprovechando todo el conocimiento de que disponemos en sistemas de alta concurrencia, alta disponibilidad y servidores en general. Prestamos un servicio por y para profesionales que quieren gestionar de forma fácil pero profesional y cercano al servidor los servicios y sus configuraciones.</p>

<p>En estos momentos estamos en modo <strong>DRAFT</strong> (borrador o beta) por lo que agradecemos cualquier comentario, sugerencia y por supuesto dudas, preguntas, ruegos, súplicas o inquietudes.</p>

<p class="text-center"><strong>¡¡¡ GRACIAS !!!</strong></p>

<p class="text-center"><img width="40%" src="/static/img/banner.jpg"/></p>

<p><small>Dymmer y el logotipo de Dymmer son marcas registradas por Altenwald Solutions, S.L.</small></p>

{% endblock %}