{% extends "base.html" %}

{% block full_right %}{% endblock %}
{% block login_button %}{% endblock %}
{% block login %}{% endblock %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Avisos Legales</strong>
</div>

<h1>Avisos legales</h1>

<ul>
	<li><a href="/avisos-legales/condiciones-generales-servicio">Condiciones Generales del Servicio</a></li>
	<li><a href="/avisos-legales/privacidad">Política de Privacidad</a></li>
</ul>

{% endblock %}
