<!DOCTYPE html>
<html lang="es-ES">
<head>
	<meta charset="utf-8" />
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
	<meta name="robots" content="index,follow" />
	<meta name="description" content="DynHost, dynamic hostnames, nombres de máquina dinámicos." />
	<meta name="keywords" content="dns,dynamic,host,hostname" />
	<title>DynHost</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5.js"></script>
    <![endif]-->
    <!--[if eq IE 7]>
      <link href="/static/css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<link href="/static/css/dynhost.css" rel="stylesheet">
    {% block meta %}{% endblock %}
</head>
<body>
    {% block login %}
    {% if not user.is_authenticated %}
    <form class="form-horizontal" action="{% url "django.contrib.auth.views.login" %}" method="post">
    <input type="hidden" name="next" value="account" />
    {% csrf_token %}
    <div class="modal hide fade" id="loginForm">
        <div class="modal-header">Inicio de Sesi&oacute;n</div>
        <div class="modal-body">
            <div class="control-group{% if form.username.errors %} error{% endif %}">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    {{ form.username }}
                </div>
                {% for error in form.username.errors %}
                <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="control-group{% if form.password.errors %} error{% endif %}">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    {{ form.password }}
                </div>
                {% for error in form.password.errors %}
                <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
            <a href="{% url "django.contrib.auth.views.password_reset" %}">&iquest;Olvidó la clave?</a>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <a href="/user/register/" class="btn btn-info">Date de Alta</a>
            </div>
            <div class="pull-right">
                <a href="#" class="btn" data-dismiss="modal">Cancela</a>
                <button type="submit" class="btn btn-primary">Inicia Sesi&oacute;n</a>
            </div>
        </div>
    </div>
    </form>
    {% endif %}

    {% if form.username.errors or form.password.errors %}
    <script type="text/javascript"><!--

    $('#loginForm').modal('show');

    // --></script>
    {% endif %}
    {% endblock %}

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div id="logo">
                    <a href="/"><img alt="DynHOST" src="/static/img/dynhost.png" width="175px" /></a>
                </div>
                <div id="borrador"><img src="/static/img/draft.png" /></div>
                <div class="nav-collapse">
                    <ul class="nav">
                        {% if user.is_authenticated %}
                        <li{% if menu == 'index' %} class="active"{% endif %}>
                            <a href="{% url "dynamic.views.domains.index" %}">DynHost</a>
                        </li>
                        <li{% if menu == 'index' %} class="active"{% endif %}>
                            <a href="{% url "dns.views.domains.index" %}">Dominios</a>
                        </li>
                        <li{% if menu == 'index' %} class="active"{% endif %}>
                            <a href="{% url "ftp.views.index" %}">Accesos FTP</a>
                        </li>
                        <li class="dropdown{% if menu == 'index' %} active{% endif %}">
                            <a class="dropdown-toggle" id="database" role="button" data-toggle="dropdown">
                                Bases de Datos
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="{% url "database.views.databases.index" %}">Listado de Bases de Datos</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="{% url "database.views.users.index" %}">Usuarios de Bases de Datos</a>
                                </li>
                            </ul>
                        </li>
                        <li{% if menu == 'index' %} class="active"{% endif %}>
                            <a href="/dynamic/help/">Ayuda</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% block login_button %}
                <div class="nav pull-right">
                    {% if user.is_authenticated %}
                        {% load gravatar %}
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a class="gravatar dropdown-toggle" id="profile" data-toggle="dropdown">
                                    Opciones 
                                    <b class="caret"></b>
                                    <img src="{% gravatar_for_user user 32 %}"/>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "billing.views.index" %}">Perfil de Usuario</a></li>
                                    <li><a href="/logout">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <a class="btn btn-small btn-info" href="#loginForm" data-toggle="modal"><i class="icon-user icon-white"></i> Entrar</a>
                    {% endif %}
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>

	<div id="content">
        {% if mensaje or form.non_field_errors %}
        {% for mensaje in form.non_field_errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Error</strong>
            {{ mensaje }}
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}
		{% endblock %}
	</div>

    <footer class="footer">
        <div class="container">
            <div id="copyright">
                &copy; 2011-{% now "Y" %}, <a href="http://altenwald.com" target="_blank">
                    <strong>Alten</strong>Wald, S.L.
                </a>
            </div>
            <div id="legal">
                <a href="/avisos-legales">Avisos Legales</a>
                | <a href="/avisos-legales/privacidad">Política de Privacidad</a> 
                | <a href="/acerca-de">Acerca de <strong>Dyn</strong>Host</a>
            </div>
        </div>
    </footer>
</body>
</html>
