{% extends "base.html" %}

{% block content %}

<h1>¿Qué es DynHost?</h1>

<div class="row-fluid">
    <div class="span6">
        <p><strong>DynHost</strong> es un sitio que permite la creación de nombres de máquina, de modo que, si tienes un servidor o una máquina en Internet con <strong>IP dinámica</strong> (que cambia cada poco tiempo), puedes crear un nombre que se vaya actualizando con los cambios de IP que vaya teniendo tu máquina de cara a Internet.</p>
    </div>
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/users.png" />
            <h2>Alta Gratuita</h2>
            <p><strong>DynHost</strong> es un servicio gratuito, pero limitado, por cada usuario no se permiten crear más de <strong>5 nombres de máquinas</strong>. Si quieres darte de alta solo tienes que seguir <a href="/user/register">este enlace</a>.</p>
        </div>
    </div>
</div>

<h1>Uso profesional</h1>

<p><strong>DynHost</strong> ha agregado funcionalidades específicas para permitirte gestionar dominios reales, no solo <em>dynhost.es</em>. En general:</p>

<div class="row-fluid">
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/earth.png" />
            <h2>Gestionar Zonas DNS</h2>
            <p>Cualquier dominio que compres, podrás configurarlo desde <strong>DynHost</strong>, de modo que crear nombres como los típicos: <em>www</em>, <em>mail</em>, etc; será un trabajo trivial.</p>
        </div>
    </div>
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/mail.png" />
            <h2>Crear Buzones de Correo</h2>
            <p>Podrás crear buzones de correo para poder acceder vía IMAP o POP3, enviar correo a través de SMTP e incluso conectarte a nuestro sistema de <em>webmail</em> para enviar y recibir emails.</p>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/computer.png" />
            <h2>Configurar Hosting web</h2>
            <p>Si necesitas espacio para albergar tu web, te ofrecemos un <em>hosting</em> para tu web, ya sea blog, o web corporativa, o foro, con esta herramienta podrás adecuarlo a tus necesidades.</p>
        </div>
    </div>
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/redirect_web.png" />
            <h2>Crear Redirecciones Web</h2>
            <p>Si tienes tu página creada en una herramienta de empresa externa y quieres que tu nuevo dominio la emplee, simplemente configurando esta redirección, el sitio web recibirá las peticiones desde el dominio que hayas adquirido.</p>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/redirect.png" />
            <h2>Manejar Redirecciones de Correo</h2>
            <p>Para cualquier dominio (e incluso <strong>dynhost.es</strong>) podrás crear redirecciones de email, de modo que cualquier email recibido a través de esa cuenta, sea redirigido a donde tú quieras.</p>
        </div>
    </div>
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/datebase.png" />
            <h2>Utilizar Bases de Datos</h2>
            <p>Si tienes una web dinámica, necesitarás de una base de datos. En <strong>DynHost</strong> te damos la posibilidad de usar una base de datos 100% compatible con MySQL: <a href="http://mariadb.org/">MariaDB</a>; con mejor rendimiento y más características que MySQL.</p>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/download.png" />
            <h2>Acceder mediante FTP / SFTP</h2>
            <p>Si necesitas cargar de forma más fácil y segura la información dentro del hosting web, a través de cuentas FTP (o SFTP, agregando una capa de seguridad), podrás conseguirlo.</p>
        </div>
    </div>
</div>
{% endblock %}
