{% extends "base.html" %}

{% block subnav %}
<!--
    <div class="subnav">
        <ul class="nav nav-pills">
            <li><a href="#section1">Section 1</a></li>
            <li><a href="#section2">Section 2</a></li>
            <li><a href="#section3">Section 3</a></li>
        </ul>
    </div>
-->
{% endblock %}

{% block content %}
<h1>¿Qué es Dymmer?</h1>

<div class="row-fluid">
    <div class="span6">
        <p><strong>Dymmer</strong> es un sitio que permite la creación de nombres de máquina, de modo que, si tienes un servidor o una máquina en Internet con <strong>IP dinámica</strong> (que cambia cada poco tiempo), puedes crear un nombre que se vaya actualizando con los cambios de IP que vaya teniendo tu máquina de cara a Internet.</p>

        <p>Esto es útil para:</p>
        <ul>
            <li>Tener localizada siempre la <strong>IP de tu casa</strong>.</li>
            <li>Un nombre para acceder a tu <strong>servidor casero</strong>.</li>
            <li>Un <strong>subdominio temporal</strong> para montar y presentar una web.</li>
        </ul>
    </div>
    {% if not user.is_authenticated %}
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/users.png" />
            <h2>Alta Gratuita</h2>
            <p><strong>Dymmer</strong> es un servicio gratuito, pero limitado, por cada usuario no se permiten crear más de <strong>5 nombres de máquinas</strong>. Si quieres darte de alta solo tienes que:</p>
            
            <a class="btn btn-success" href="/user/register"><strong>Darte de Alta</strong></a>
        </div>
    </div>
    {% else %}
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/basket-empty.png" />
            <h2>Contratación</h2>
            <p>Puedes contratar servicios profesionales desde tu perfil, solo necesitas <strong>seleccionar lo que quieras contratar</strong>. Adáptalo a tus necesidades.</p>
            <p>Más abajo puedes ver los servicios disponibles y su precio.</p>
        </div>
    </div>
    {% endif %}
</div>

<h1>Uso profesional</h1>

<p><strong>Dymmer</strong> ha agregado funcionalidades específicas para permitirte gestionar dominios reales, no solo <em>dymmer.com</em>. En general:</p>

<div class="row-fluid">
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/earth.png" />
            <h2>Dominios: Tu nombre en Intenet</h2>
            {% if not user.is_authenticated %}
            <p>¿Necesitas comprar un dominio y <strong>gestionar los registros a todos los niveles y sin restricciones</strong>? ¡Aquí puedes! Entra con tu cuenta y elige el dominio que quieras.</p>
            {% else %}
            <p>¿Necesitas comprar un dominio y <strong>gestionar los registros a todos los niveles y sin restricciones</strong>? Puedes comprar un dominio o transferirlo desde otro proveedor.</p>
            <p><strong><em>Próximamente</em></strong></p>
            {% endif %}
        </div>
    </div>
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/mail.png" />
            <h2>Buzones de Correo Electrónico</h2>
            {% if not user.is_authenticated %}
            <p>Tu dominio con buzones de correo electrónico incluidos. Podrás configurar <strong>buzones de correo</strong> accesibles mediante protocolo <strong>POP3 o IMAP</strong> o empleando nuestro sistema de <strong>webmail</strong>.</p>
            {% else %}
            <p>¿Necesitas más buzones de correo electrónico?</p>
            <p><strong><em>Próximamente</em></strong></p>
            {% endif %}
        </div>
    </div>
</div>
{% if not user.is_authenticated %}
<div class="row-fluid">
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/computer.png" />
            <h2>Alojamiento para tu web</h2>
            <p>Adquiriendo un dominio tendrás acceso a un espacio para tu web. Podrás instalar cualquier sistema como Wordpress, Drupal, Prestashop, SMF, ... de forma muy sencilla con un <strong>instalador automático</strong>, subiendo ficheros <strong>vía FTP</strong> o a <strong>través de git</strong>.</p>
        </div>
    </div>
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/redirect_web.png" />
            <h2>Crear Redirecciones Web</h2>
            <p>Si tienes tu página creada en una herramienta de empresa externa y quieres que tu nuevo dominio la emplee, simplemente configurando esta redirección, el sitio web recibirá las peticiones desde el dominio que hayas adquirido. Incluso si son varios y quieres unificarlos bajo varias rutas.</p>
        </div>
    </div>
</div>
{% endif %}
<div class="row-fluid">
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/redirect.png" />
            <h2>Manejar Redirecciones de Correo</h2>
            {% if not user.is_authenticated %}
            <p>Para cualquier dominio (e incluso <strong>dymmer.com</strong>) podrás crear redirecciones de email, de modo que cualquier email recibido a través de esa cuenta, sea redirigido a donde tú quieras.</p>
            {% else %}
            <p>Agrega más redirecciones de correo si las requieres a través de los paquetes de redirecciones. Los podrás emplear en cualquiera de los dominios que tengas.</p>
            <p><strong><em>Próximamente</em></strong></p>
            {% endif %}
        </div>
    </div>
    <div class="span6">
        <div class="banner">
            <img src="/static/img/32/datebase.png" />
            <h2>Utilizar Bases de Datos</h2>
            {% if not user.is_authenticated %}
            <p>Si tienes una web dinámica, necesitarás de una base de datos. Adquiriendo el paquete básico tienes disponible una base de datos MySQL.</p>
            {% else %}
            <p>¿Necesitas de una base de datos MySQL adicional? Puedes adquirir el <strong>paquete MySQL</strong> tantas como necesites para adquirir cada vez una base de datos.</p>
            <p><strong><em>Próximamente</em></strong></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
