{% extends "base.html" %}

{% block full_right %}{% endblock %}
{% block login %}{% endblock %}

{% block content %}
<div class="legal">
    <h1>Has sido bloqueado</h1>

    <p>Has intentado entrar en el sistema más de las veces permitidas por lo que has sido bloqueado. Si es la primera vez que se le ha presentado este mensaje y realmente olvidó la clave, <strong>envíe un email a <a href="mailto:support@dynhost.es">su administrador</a> para que elimine el bloqueo</strong>.</p>

    <p>De forma automática, <strong>el bloqueo finalizará en 6 horas</strong>. No obstante, si persiste en su actividad se estudiará su dirección IP para la inclusión en una <strong>lista negra</strong>, notificación a su proveedor de Internet y/o autoridades competentes.</p>

    <p>Gracias y disculpe las molestias.</p>
</div>
{% endblock %}

