{% extends "base.html" %}

{% block content %}
<div id="info">
    <div class="marco_gris">
        <a href="#" onclick="forms[0].submit();">
            <img width="32px" height="32px" src="/static/images/32/tick.png" alt="ok" title="Aceptar" />
        </a>
        &nbsp;
    </div>
</div>
<br />
<h1>Cambio de Clave</h1>
<form method="post">
    {% csrf_token %}
    <table id="formulario">
        {{ form.as_table }}
    </table>
</form>
<br />
<h1>Información del Usuario</h1>
<table id="formulario">
    <tr><th>Usuario</th><td>{{ cuenta.user.username }}</td></tr>
    <tr><th>eMail</th><td>{{ cuenta.user.email }}</td></tr>
    <tr><th>Alta</th><td>{{ cuenta.user.date_joined|date:"d/m/Y" }}</td></tr>
    <tr><th>Cuota Mensual</th><td>{{ cuenta.paymonth|floatformat:2 }} &euro;&nbsp;&nbsp;<a href="{% url billing.views.pricing %}"><img src="/static/images/16/up.png" title="Planes" /><img src="/static/images/16/down.png" title="Planes" /></td></tr>
</table>
<br />
<h1>Información de Servicios DynHost</h1>
<table id="listado">
<thead>
    <th colspan="2">Servicio</th>
    <th>Usados</th>
    <th>Total</th>
</thead>
<tbody>
    <tr>
        <td><img src="/static/images/32/earth.png" /></td>
        <td>DynHosts</td>
        <td align="right">{{ dynhosts }}&nbsp;</td>
        <td align="right">{{ cuenta.limit_dynhost }}&nbsp;</td>
        </td>
    </tr>
    <tr>
        <td><img src="/static/images/32/redirect.png" /></td>
        <td>Redirecciones</td>
        <td align="right">{{ redirects_mail_dynhost }}&nbsp;</td>
        <td align="right">{{ cuenta.limit_email_redirect }}&nbsp;</td>
        </td>
    </tr>
    <tr>
        <td><img src="/static/images/32/redirect_web.png" /></td>
        <td>Redirecciones Web</td>
        <td align="right">{{ redirects_web_dynhost }}&nbsp;</td>
        <td align="right">{{ cuenta.limit_web_redirect }}&nbsp;</td>
        </td>
    </tr>
</tbody>
</table>
<br />
<h1>Información de Servicios</h1>
<table id="listado">
<thead>
    <th colspan="2">Servicio</th>
    <th>Usados</th>
    <th>Total</th>
</thead>
<tbody>
    <tr>
        <td><img src="/static/images/32/earth.png" /></td>
        <td>Dominios</td>
        <td align="right">{{ dominios }}&nbsp;</td>
        <td align="right">{{ cuenta.limit_dns }}&nbsp;</td>
    </tr>
    <tr>
        <td><img src="/static/images/32/redirect.png" /></td>
        <td>Redirecciones</td>
        <td align="right">{{ redirects }}&nbsp;</td>
        <td align="right">{{ cuenta.limit_email_redirect }}&nbsp;</td>
    </tr>
    <tr>
        <td><img src="/static/images/32/mail.png" /></td>
        <td>Buzones de Correo</td>
        <td align="right">{{ mailboxes }}&nbsp;</td>
        <td align="right">{{ cuenta.limit_email_mailbox }}&nbsp;</td>
    </tr>
    <tr>
        <td><img src="/static/images/32/datebase.png" /></td>
        <td>Bases de Datos</td>
        <td align="right">{{ databases }}&nbsp;</td>
        <td align="right">{{ cuenta.limit_sql }}&nbsp;</td>
    </tr>
    <tr>
        <td><img src="/static/images/32/db_users.png" /></td>
        <td>Usuarios de Base de Datos</td>
        <td align="right">{{ dbusers }}&nbsp;</td>
        <td align="right">{{ cuenta.limit_sql_users }}&nbsp;</td>
    </tr>
    <tr>
        <td><img src="/static/images/32/redirect_web.png" /></td>
        <td>Redirecciones Web</td>
        <td align="right">{{ redirects_web }}&nbsp;</td>
        <td align="right">{{ cuenta.limit_web_redirect }}&nbsp;</td>
    </tr>
    <tr>
        <td><img src="/static/images/32/computer.png" /></td>
        <td>Hostings Web</td>
        <td align="right">{{ hosting }}&nbsp;</td>
        <td align="right">{{ cuenta.limit_web }}&nbsp;</td>
    </tr>
    <tr>
        <td><img src="/static/images/32/download.png" /></td>
        <td>Accesos FTP</td>
        <td align="right">{{ ftp }}&nbsp;</td>
        <td align="right">{{ cuenta.limit_ftp }}&nbsp;</td>
    </tr>
</tbody>
</table>
<br />
{% endblock %}
