{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Perfil de Usuario</strong>
</div>

<form class="form-horizontal" method="post">
{% csrf_token %}
<div class="modal hide fade" id="passwordForm">
    <div class="modal-header">Cambio de Clave</div>
    <div class="modal-body">
        <div class="control-group{% if form.old_password.errors %} error{% endif %}">
            <label class="control-label" for="id_old_password">Contraseña antigua</label>
            <div class="controls">
                {{ form.old_password }}
                {% for error in form.old_password.errors %}
                <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.new_password1.errors %} error{% endif %}">
            <label class="control-label" for="id_new_password1">Contraseña nueva</label>
            <div class="controls">
                {{ form.new_password1 }}
                {% for error in form.new_password1.errors %}
                <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.new_password2.errors %} error{% endif %}">
            <label class="control-label" for="id_new_password2">Confirmación</label>
            <div class="controls">
                {{ form.new_password2 }}
                {% for error in form.new_password2.errors %}
                <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancela</a>
        <button type="submit" class="btn btn-primary">Cambia clave</a>
    </div>
</div>
</form>

{% if form.old_password.errors or form.new_password1.errors or form.new_password2.errors %}
<script type="text/javascript"><!--

$('#passwordForm').modal('show');

// --></script>
{% endif %}

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#info-user" data-toggle="tab">Usuario</a>
    </li>
    <li>
        <a href="#info-dynhost" data-toggle="tab">DynHOST</a>
    </li>
    <li>
        <a href="#info-servicios" data-toggle="tab">Servicios</a>
    </li>
</ul>
<div id="profile-tab-content" class="tab-content">
    <div class="tab-pane fade in active" id="info-user">
        <h1>Información del Usuario</h1>
        <table class="table table-condensed">
            <tr><th>Usuario</th><td>{{ cuenta.user.username }}</td></tr>
            <tr><th>eMail</th><td>{{ cuenta.user.email }}</td></tr>
            <tr><th>Alta</th><td>{{ cuenta.user.date_joined|date:"d/m/Y" }}</td></tr>
            <tr><th>Cuota Mensual</th><td>{{ currency }} {{ cuenta.paymonth|floatformat:2 }}</td></tr>
        </table>
        <br />
        <div class="pull-right">
            <a href="#passwordForm" class="btn btn-danger" data-toggle="modal">
                <i class="icon-lock icon-white"></i>
                Cambia Clave
            </a>
        </div>
    </div>
    <div class="tab-pane fade" id="info-dynhost">
        <h1>Información de Servicios DynHost</h1>
        <table class="table table-condensed">
        <thead>
            <th colspan="2">Servicio</th>
            <th>Usados</th>
            <th>Total</th>
            <th>Suscripción</th>
        </thead>
        <tbody>
            <tr>
                <td><img src="/static/img/32/earth.png" /></td>
                <td>DynHosts</td>
                <td align="right">{{ dynhosts }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_dynhost }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/redirect.png" /></td>
                <td>Redirecciones</td>
                <td align="right">{{ redirects_mail_dynhost }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_email_redirect }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/redirect_web.png" /></td>
                <td>Redirecciones Web</td>
                <td align="right">{{ redirects_web_dynhost }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_web_redirect }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="info-servicios">
        <h1>Información de Servicios</h1>
        <table class="table table-condensed">
        <thead>
            <th colspan="2">Servicio</th>
            <th>Usados</th>
            <th>Total</th>
            <th>Suscripción</th>
        </thead>
        <tbody>
            <tr>
                <td><img src="/static/img/32/earth.png" /></td>
                <td>Dominios</td>
                <td align="right">{{ dominios }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_dns }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/redirect.png" /></td>
                <td>Redirecciones</td>
                <td align="right">{{ redirects }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_email_redirect }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/mail.png" /></td>
                <td>Buzones de Correo</td>
                <td align="right">{{ mailboxes }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_email_mailbox }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/datebase.png" /></td>
                <td>Bases de Datos</td>
                <td align="right">{{ databases }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_sql }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/db_users.png" /></td>
                <td>Usuarios de Base de Datos</td>
                <td align="right">{{ dbusers }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_sql_users }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/redirect_web.png" /></td>
                <td>Redirecciones Web</td>
                <td align="right">{{ redirects_web }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_web_redirect }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/computer.png" /></td>
                <td>Hostings Web</td>
                <td align="right">{{ hosting }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_web }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/download.png" /></td>
                <td>Accesos FTP</td>
                <td align="right">{{ ftp }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_ftp }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
{% endblock %}
