{% extends "base.html" %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Perfil de Usuario</strong>
</div>

<form class="form-horizontal" method="post">
{% csrf_token %}
<div class="modal hide fade" id="passwordForm">
    <div class="modal-header">Cambio de Clave</div>
    <div class="modal-body">
        <div class="control-group{% if form.old_password.errors %} error{% endif %}">
            <label class="control-label" for="id_old_password">Contraseña antigua</label>
            <div class="controls">
                {{ form.old_password }}
                {% for error in form.old_password.errors %}
                <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.new_password1.errors %} error{% endif %}">
            <label class="control-label" for="id_new_password1">Contraseña nueva</label>
            <div class="controls">
                {{ form.new_password1 }}
                {% for error in form.new_password1.errors %}
                <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.new_password2.errors %} error{% endif %}">
            <label class="control-label" for="id_new_password2">Confirmación</label>
            <div class="controls">
                {{ form.new_password2 }}
                {% for error in form.new_password2.errors %}
                <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancela</a>
        <button type="submit" class="btn btn-primary">Cambia clave</a>
    </div>
</div>
</form>

{% if form.old_password.errors or form.new_password1.errors or form.new_password2.errors %}
<script type="text/javascript"><!--

$('#passwordForm').modal('show');

// --></script>
{% endif %}

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#info-user" data-toggle="tab">Usuario</a>
    </li>
    <li>
        <a href="#info-dynhost" data-toggle="tab">DynHOST</a>
    </li>
    <li>
        <a href="#info-client" data-toggle="tab">Cliente</a>
    </li>
    <li>
        <a href="#info-servicios" data-toggle="tab">Servicios</a>
    </li>
</ul>
<div id="profile-tab-content" class="tab-content">
    <div class="tab-pane fade in active" id="info-user">
        <h1>Información del Usuario</h1>
        <table class="table table-condensed">
            <tr><th>Usuario</th><td>{{ cuenta.user.username }}</td></tr>
            <tr><th>eMail</th><td>{{ cuenta.user.email }}</td></tr>
            <tr><th>Alta</th><td>{{ cuenta.user.date_joined|date:"d/m/Y" }}</td></tr>
            <tr><th>Cuota Mensual</th><td>{{ currency }} {{ cuenta.paymonth|floatformat:2 }}</td></tr>
        </table>
        <br />
        <div class="pull-right">
            <a href="#passwordForm" class="btn btn-danger" data-toggle="modal">
                <i class="icon-lock icon-white"></i>
                Cambia Clave
            </a>
        </div>
    </div>
    <div class="tab-pane fade" id="info-client">
        <h1>Información de Cliente</h1>

        <div class="row-fluid">
            <div class="offset2 span8">
                <p><strong>IMPORTANTE</strong>: estos datos son obligatorios si desea darse de alta como cliente para contratar un servicio (dominios, redirecciones de email, redirecciones web, etc.) En caso de rellenar este apartado acepta las <a href="">Condiciones del Servicio para Clientes</a>.</p>

                <form class="form-horizontal" method="post">
                    {% csrf_token %}

                    <div class="control-group{% if nic_form.legalForm.errors %} error{% endif %}">
                        <label class="control-label" for="id_legalForm">{{ nic_form.legalForm.label }}</label>
                        <div class="controls">
                            {{ nic_form.legalForm }}
                            {% for error in nic_form.legalForm.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.firstname.errors %} error{% endif %}">
                        <label class="control-label" for="id_firstname">{{ nic_form.firstname.label }}</label>
                        <div class="controls">
                            {{ nic_form.firstname }}
                            {% for error in nic_form.firstname.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.name.errors %} error{% endif %}">
                        <label class="control-label" for="id_name">{{ nic_form.name.label }}</label>
                        <div class="controls">
                            {{ nic_form.name }}
                            {% for error in nic_form.name.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.email.errors %} error{% endif %}">
                        <label class="control-label" for="id_email">{{ nic_form.email.label }}</label>
                        <div class="controls">
                            {{ nic_form.email }}
                            {% for error in nic_form.email.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.phone.errors %} error{% endif %}">
                        <label class="control-label" for="id_phone">{{ nic_form.phone.label }}</label>
                        <div class="controls">
                            {{ nic_form.phone }}
                            {% for error in nic_form.phone.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.fax.errors %} error{% endif %}">
                        <label class="control-label" for="id_fax">{{ nic_form.fax.label }}</label>
                        <div class="controls">
                            {{ nic_form.fax }}
                            {% for error in nic_form.fax.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.address.errors %} error{% endif %}">
                        <label class="control-label" for="id_address">{{ nic_form.address.label }}</label>
                        <div class="controls">
                            {{ nic_form.address }}
                            {% for error in nic_form.address.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.city.errors %} error{% endif %}">
                        <label class="control-label" for="id_city">{{ nic_form.city.label }}</label>
                        <div class="controls">
                            {{ nic_form.city }}
                            {% for error in nic_form.city.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.area.errors %} error{% endif %}">
                        <label class="control-label" for="id_area">{{ nic_form.area.label }}</label>
                        <div class="controls">
                            {{ nic_form.area }}
                            {% for error in nic_form.area.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.zipCode.errors %} error{% endif %}">
                        <label class="control-label" for="id_zipCode">{{ nic_form.zipCode.label }}</label>
                        <div class="controls">
                            {{ nic_form.zipCode }}
                            {% for error in nic_form.zipCode.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.country.errors %} error{% endif %}">
                        <label class="control-label" for="id_country">{{ nic_form.country.label }}</label>
                        <div class="controls">
                            {{ nic_form.country }}
                            {% for error in nic_form.country.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.language.errors %} error{% endif %}">
                        <label class="control-label" for="id_language">{{ nic_form.language.label }}</label>
                        <div class="controls">
                            {{ nic_form.language }}
                            {% for error in nic_form.language.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.legalName.errors %} error{% endif %}">
                        <label class="control-label" for="id_legalName">{{ nic_form.legalName.label }}</label>
                        <div class="controls">
                            {{ nic_form.legalName }}
                            {% for error in nic_form.legalName.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group{% if nic_form.legalNumber.errors %} error{% endif %}">
                        <label class="control-label" for="id_legalNumber">{{ nic_form.legalNumber.label }}</label>
                        <div class="controls">
                            {{ nic_form.legalNumber }}
                            {% for error in nic_form.legalNumber.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <a href="{% url "dns.views.domains.index" %}" class="btn">Volver al listado</a>
                            <button type="submit" class="btn btn-primary">{% if nic_form.name %}Modificar{% else %}Dar de Alta{% endif %}</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="info-dynhost">
        <h1>Información de Servicios DynHost</h1>
        <table class="table table-condensed">
        <thead>
            <th colspan="2">Servicio</th>
            <th>Usados</th>
            <th>Total</th>
            <th>Suscripción</th>
        </thead>
        <tbody>
            <tr>
                <td><img src="/static/img/32/earth.png" /></td>
                <td>DynHosts</td>
                <td align="right">{{ dynhosts }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_dynhost }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/redirect.png" /></td>
                <td>Redirecciones</td>
                <td align="right">{{ redirects_mail_dynhost }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_email_redirect }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/redirect_web.png" /></td>
                <td>Redirecciones Web</td>
                <td align="right">{{ redirects_web_dynhost }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_web_redirect }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="info-servicios">
        <h1>Información de Servicios</h1>
        <table class="table table-condensed">
        <thead>
            <th colspan="2">Servicio</th>
            <th>Usados</th>
            <th>Total</th>
            <th>Suscripción</th>
        </thead>
        <tbody>
            <tr>
                <td><img src="/static/img/32/earth.png" /></td>
                <td>Dominios</td>
                <td align="right">{{ dominios }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_dns }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/redirect.png" /></td>
                <td>Redirecciones</td>
                <td align="right">{{ redirects }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_email_redirect }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/mail.png" /></td>
                <td>Buzones de Correo</td>
                <td align="right">{{ mailboxes }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_email_mailbox }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/datebase.png" /></td>
                <td>Bases de Datos</td>
                <td align="right">{{ databases }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_sql }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/db_users.png" /></td>
                <td>Usuarios de Base de Datos</td>
                <td align="right">{{ dbusers }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_sql_users }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/redirect_web.png" /></td>
                <td>Redirecciones Web</td>
                <td align="right">{{ redirects_web }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_web_redirect }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/computer.png" /></td>
                <td>Hostings Web</td>
                <td align="right">{{ hosting }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_web }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="/static/img/32/download.png" /></td>
                <td>Accesos FTP</td>
                <td align="right">{{ ftp }}&nbsp;</td>
                <td align="right">{{ cuenta.limit_ftp }}&nbsp;</td>
                <td align="center">
                    <div class="btn-group">
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-plus icon-white"></i></a>
                        <a class="btn btn-mini btn-primary" href=""><i class="icon-minus icon-white"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
{% endblock %}
