{% extends "base.html" %}

{% block meta %}
<script src="/static/js/payment.js"></script>
{% endblock %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <strong>Pago de Servicio</strong>
</div>

<h1>Pago de Servicio</h1>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Proceder al pago de:</label>
        <div class="controls">
            <span class="uneditable-input">{{ contract.type_text }} {{ contract.concept }}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Tipo de Pago:</label>
        <div class="controls">
            <select id="paytype" name="paytype" onchange="set_value();">
                <option value="M" selected="selected">Mensual</option>
                <option value="T">Trimestral</option>
                <option value="A">Anual</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Cantidad:</label>
        <div class="controls">
            <strong><span class="uneditable-input"><span id="price">{{ contract.total }}</span> {{ currency }}</span></strong>
        </div>
    </div>
</form>

<p>Seleccione el medio de pago que desee utilizar:</p>

<div class="accordion" id="accordion-payments">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-payments" href="#collapseTransfer"><strong>Transferencia Bancaria</strong></a>
        </div>
        <div id="collapseTransfer" class="accordion-body collapse in">
            <div class="accordion-inner">
                Para la compra del dominio por transferencia bancaria, emita una transferencia a
                la siguiente cuenta bancaria:<br/>
                <br/>
                <strong>{{ bank }}</strong><br/>
                <strong>{{ ccc }}</strong><br/>
                <br/>
                <strong>Altenwald Solutions, S.L.</strong><br/>
                Calle La Fragua, 7<br/>
                La Carlota, Córdoba, España<br/>
                <br/>
                Como concepto: <strong>{{ contract.transfer_concept }}</strong>
            </div>
        </div>
    </div>
    <!--
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-payments" href="#collapsePaypal"><strong>PayPal</strong></a>
        </div>
        <div id="collapsePaypal" class="accordion-body collapse">
            <div class="accordion-inner">
                ...
            </div>
        </div>
    </div>
    -->
</div>
{% endblock %}
