{% extends "base.html" %}

{% block meta %}
<script src="/static/js/payment.js"></script>
{% endblock %}

{% block content %}
<div id="breadcrumbs" class="breadcrumb">
    <a href="/">Inicio</a> &raquo; <a href="{% url "dns.views.domains.index" %}">Listado de Dominios</a> &raquo; <strong>Pago del Dominio</strong>
</div>

<h1>Pago de Servicio</h1>

<p>Proceder al pago de: <strong>{% if contract.type == 'D' %}
                        Dominio
                    {% elif contract.type == 'R' %}
                        Redirecciones de Email
                    {% elif contract.type == 'm' %}
                        Buzones de Email Plus
                    {% elif contract.type == 'M' %}
                        Buzones de Email Premium
                    {% elif contract.type == 'B' %}
                        Base de Datos MySQL
                    {% endif %} {{ contract.concept }}</strong></p>
<p>Tipo de Pago: <select id="paytype" name="paytype" onchange="set_value();">
    <option value="M" selected="selected">Mensual</option>
    <option value="T">Trimestral</option>
    <option value="A">Anual</option>
</select>
</p>
<p>Cantidad: <strong><span id="price">{{ contract.total }}</span> {{ currency }}</strong></p>
<p>Seleccione el medio de pago que desee utilizar:</p>

<div class="accordion" id="accordion-payments">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-payments" href="#collapseTransfer"><strong>Transferencia Bancaria</strong></a>
        </div>
        <div id="collapseTransfer" class="accordion-body collapse in">
            <div class="accordion-inner">
                Para la compra del dominio por transferencia bancaria, emita una transferencia a
                la siguiente cuenta bancaria:<br/>
                <br/>
                <strong>{{ bank }}</strong><br/>
                <strong>{{ ccc }}</strong><br/>
                <br/>
                <strong>Altenwald Solutions, S.L.</strong><br/>
                Calle La Fragua, 7<br/>
                La Carlota, Córdoba, España<br/>
                <br/>
                Como concepto: <strong>ES-{{ cuenta.id|stringformat:"03X" }}-{{ contract.id|stringformat:"04X" }}</strong>
            </div>
        </div>
    </div>
    <!--
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-payments" href="#collapsePaypal"><strong>PayPal</strong></a>
        </div>
        <div id="collapsePaypal" class="accordion-body collapse">
            <div class="accordion-inner">
                ...
            </div>
        </div>
    </div>
    -->
</div>
{% endblock %}
